.recommend_movie_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.recommend_movie_container > * {
    width: calc((100% - 20px) / 3);
}

.recommend_movie_container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recommend_movie_container img {
    width: calc(100%);
}

.movie_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.movie_container > * {
    width: calc((100% - 40px) / 5); /* 5개의 요소가 들어가도록 계산 (gap 10px * 4개 고려) */
}

.movie_container img {
    width: 100%; /* 이미지가 부모 요소에 맞게 꽉 차도록 설정 */
    height: auto; /* 비율 유지 */
    border-radius: 5px; /* 선택적으로 모서리를 둥글게 */
}